{% extends 'layout/default.html' %}
{% block head %}
<link rel="stylesheet" href="{{env.staticRoot}}/p/home/index.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel no-border">
    <div class="banner">
    	<p class="banner-content">
    		贴吧志愿者招聘公告
    	</p>
    </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-9">
    <section class="hot-tb">
      <header class="">
      	<p>热门贴吧</p>
      </header>
      <div class="hot-tb-container">
      		<ul class="hot-tb-list-wrap row">
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      				<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      				<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
      			<li class="hot-tb-list col-sm-4">
      				<div class="hot-tb-detail">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      					<div class="summary">
      						<p class="tb-name"><a "javascript:;">高血压吧</a> </p>
      						<p class="summary-info">高血压（hypertension）是指以体循环动脉血压指以体循</p>
      					</div>
      				</div>
      			</li>
    
      		</ul>
      </div>
    </section>

     <section class="greatest-article hide">
      <header class="">
      	<p>帖子精选（ 头牌 ）</p>
      </header>
      <div class="greatest-article-container">
      		<ul class="greatest-article-list-wrap ">
      			<li class="greatest-article-list row no-margin-lr">
      				<div class="tb-about col-sm-2">
      					<img src="{{env.staticRoot}}/c/img/mock.jpg"  alt="">
      					<p class="tb-name">高血压吧</p>
      					<p class="like"><span class="ti-heart"></span></p>
      					<p class="like-num"><span >1200</span></p>
      				</div>
      				<div class="article-about col-sm-10">
      					<header class="article-name">为什么会得高血压</header>
      					<div class="article-summary">
      						<img src="{{env.staticRoot}}/c/img/mock.jpg" alt="">
      						<p class="article-author-about"><span>来自:</span> <span class="gender ti-user"></span> <span>Mindy</span> <time>2016-1-20 13:01:11</time></p>
      					</div>
      					
      				</div>

      			</li>
      		</ul>
      </div>
    </section>

  </div>
  <div class="col-md-3">
    <!-- World -->
  </div>
</div>

{% endblock %}

{% block foot %}
<script src="{{env.staticRoot}}/p/home/index.js"></script>
{% endblock %}