{% set nav_home = "active" %}
{% extends 'layout/default.html' %}
{% block head %}
<link rel="stylesheet" href="{{env.staticRoot}}/p/home/index.css">
{% endblock %}

{% block content %}
<div class="banner bg-primary">
  贴吧志愿者招聘公告
</div>
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>热门贴吧</strong></div>
      <div id="J_hotList" class="panel-body pb0"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><strong>帖子精选（头牌）</strong></div>
      <div class="panel-body"></div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>大咖人气（Top 10）</strong></div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block foot %}
<script src="{{env.staticRoot}}/p/home/index.js"></script>
{% endblock %}